* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    height: 100vh;
    width: 100%;
    margin: 0;
    padding: 0;
    background-color: #bbd0ff;
    background-size: cover;
    background-attachment: fixed;
}

.header{
    width: 100%;
    height: 6rem;
    background-color: rgba(255, 255, 255, 0.500);
    color: #001d3d;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.5rem;
    padding: 0 0 0 4rem ;
}

.nav{
    width: 100%; 
    padding: 0.6rem; 
    text-align: center;
    background: rgba(0, 0, 0, 0.436);
}


.nav ul {
    list-style-type: none;
}

.nav ul li {
    padding: 0.4rem;
    display: inline-block;
    transition: 300ms;
    margin: 0 1rem 0 1rem;
}

.nav ul li a {
    text-decoration: none;
    color: aliceblue;
    font-size: 1.2rem;
    transition: 100ms;
}


.nav ul li:hover {
    background-color: #001d3d4a;
    border-radius: 10px;
    transform: translateY(-2px);
    box-shadow: 0px 0px 4px 2px #bbd0ff
}

.nav ul li:active {
    transform: translateY(1px);
    box-shadow: 0px 0px 1px 1px #bbd0ff
}

.home{
    
    width: 100%;
    height: 100vh;
    display: flex;
}

.home .hero {
    width: 50%;
    padding: 4rem;
    background: rgba(0, 0, 0, 0.500);

    color: white;

}

@keyframes left-to-right{
    0% {
        transform: translateX(-50px);
    }

    50% {
        transform: translateX(50px);
    }

    100% {
        transform: translateX(0px );
    }
}

.home .hero h1 {
    font-size: 10rem;
    color: #001d3d;
    animation: left-to-right 1s linear;
}

.home .hero h2 {
    font-size: 4rem;
    animation: left-to-right 1.2s linear;
}

.home .hero section {
    margin: 2rem 0 2rem 0;
} 

.home .cta{
    width: 50%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(214, 207, 207, 0.4);
    background: linear-gradient(rgba(255, 255, 255, 0.5), rgba(0, 0, 0, 0.5)), url("/src/cta.jpg");  
    background: linear-gradient(rgba(255, 255, 255, 0.5), rgba(3, 3, 3, 0.5)), url("/src/cta.jpg");
    background-size: cover; 
}


.home .cta a {
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    border: 0px solid ;
    padding: 1em 2em 1em 2em;
    border-radius: 10px;
    font-weight: bold;
    color: white;
    background: #001d3dde;

    transition: 0.3s;
}

.home .cta a:hover {
    transform: translateY(-2px);
    border: #bbd0ff;
    box-shadow: 4px 4px 10px #bbd0ff;
}

.home .cta a:active {
    transform: translateY(2px);
    border: #bbd0ff;
    box-shadow: 2px 2px 5px #bbd0ff;
}

.home .cta a img {
    height: 2rem;
    width: 2rem;
    border-radius: 100px;
}


.about-us {
    color: white;
    width: 100%;
    height: 100vh;
    display: flex;
}

.about-us .write-up {
    width: 50%;
    padding: 4rem;
    background: rgba(0, 0, 0, 0.500);
  
}

@keyframes right-to-left{
    0% {
        transform: translateX(50px);
    }

    50% {
        transform: translateX(-50px);
    }

    100% {
        transform: translateX(0px );
    }
}

.about-us .write-up h1 {
    margin-bottom: 4rem ;
    color: #001d3d;
    font-size: 4rem;
    animation: right-to-left 1s linear;
    
}

.about-us .write-up p {
    margin: 2rem 0 2rem 0;
    animation: right-to-left 1.2s linear;
    color: #ffffff;
} 

.about-us .about-img {
    width: 50%;
    background-color: whitesmoke;
    background: linear-gradient(rgba(255, 255, 255, 0.5), rgba(0, 0, 0, 0.5)), url("/src/abt.jpg");  
    background: linear-gradient(rgba(255, 255, 255, 0.5), rgba(3, 3, 3, 0.5)), url("/src/abt.jpg");
    background-size: cover;
}

.about-us .about-img img {
    width: 100%;
    height: 100vh;
}

.prod-container {
    height: 100vh;
    background: rgba(0, 0, 0, 0.800);
    text-align: center;
    color: #bbd0ff;
}

.prod-container h1 {
    font-size: 4rem;
    padding: 4rem 0 0 0;
    animation: left-to-right 800ms linear;
}

.product-cards  {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 2.4rem;
}

.product-cards .card {
    border: 0px solid gray;
    border-radius: 10px;
    margin: 1rem;
    padding: 1rem;
    height: 25rem;
    width: fit-content;
    background: rgba(0, 29, 61, 0.334);
    color: #bbd0ff;
    text-align: center;
    text-decoration: none;
    font-size: large;
    box-shadow: 3px 2px 10px #76736d ;
    animation: right-to-left 800ms linear;
}

.card img{
    height: 200px;
    width: 200px;
    margin-top: 1rem;
    border: 0px solid white;
    border-radius: 10px;
}

.card section {
    padding: 1rem;
}

.product-cards a:hover {
    transform: translateY(2px) translateX(2px);
    transition: 10ms;
}



.product-details .product-table a{
    
    justify-content: center;
    align-items: center;
    text-decoration: none;
    border: 0px solid ;
    padding: 1em 2em 1em 2em;
    border-radius: 10px;
    font-weight: bold;
    color: white;
    background: rgba(0, 29, 61, 0.334);

    transition: 0.3s;
}

.product-details .product-table a:hover {
    transform: translateY(-2px);
    border: #bbd0ff;
    box-shadow: 4px 4px 10px #bbd0ff;
}

.product-details .product-table a:active {
    transform: translateY(2px);
    border: #bbd0ff;
    box-shadow: 2px 2px 5px #bbd0ff;
}

.clients {
    width: 100%;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.500);
    text-align: center;
    overflow: hidden;
}

.clients h1 {
    padding: 4rem;
    font-size: 4rem;
    color: rgb(25 38 54);
}

.client-cards .card-wrapper {
    background-color: rgb(25 38 54);
    padding: 4rem 0 4rem 0;
    display: flex;
    justify-content: space-around;
    align-items: center;
    text-align: center;
    height: 50%;
    width: 350vw;
}

.client-cards .card-wrapper a {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    text-decoration: none;
    color: inherit;
    border: 1px solid gray;
    border-radius: 10px;
    height: 250px;
    width: 250px;
    cursor: pointer;
    background-color: #bbd0ff;
    overflow: hidden;
    padding: 2rem;
    margin: 0 1rem 0 1rem;
    animation: logo-infinite 25s linear infinite ;
}

@keyframes logo-infinite {
    0% {
        transform: translateX(0);
    }

    100% {
        transform: translate(-1000%);
    }

}

.client-cards img {
    width: 100%;
    height: 100%;
    margin: 2rem;
    background: repeat-x 0 / 100% auto;
}

.contact-us {
    text-align: center;
    height: 100vh;
}

.contact-us h1 {
    padding: 4rem;
    font-size: 4rem;
    color: rgb(25 38 54);
}

.contact-us .input-form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.contact-us .input-form input{
    margin: 1rem;
    padding: 1rem;
    width: 50%;
    border: 0.2px solid gray;
    border-radius: 5px;
}

.contact-us .input-form textarea {
    margin: 1rem;
    padding: 1rem;
    width: 50%;
    border: 0.2px solid gray;
    border-radius: 5px;
}

.contact-us .input-form p {
    margin-top: 2rem;
    font-weight: 800;
    color: rgb(25 38 54)
}

.input-form a {
    text-decoration: none;
    color: inherit;
    color: white;
    background-color: #001d3d;
    padding: 0.6rem;
    border-radius: 10px;
}

footer {
    background-color: #001d3d;
    padding: 1rem;
    margin: 1rem 0 1rem 0;
}

footer i{
    color: white;
    margin: 0.5rem;
}